<div class="messages index">
  <h2>Все Сообщения</h2>

  <%= link_to('Обратно к форме', contacts_path, :class => 'action back') %>

  <table class="listing" summary="Message list">
    <tr class="header">
      <th>Дата создания</th>
      <th>Имя</th>
      <th>Тема</th>
      <th>Телефон</th>
      <th>Электронная почта</th>
      <th>Текст сообщения</th>
      <th>Actions</th>
    </tr>
    <% @messages.each do |message| %>
    <tr>
      <td><%= message.created_at %></td>
      <td><%= message.name %></td>
      <td><%= message.theme %></td>
      <td><%= message.phone_number %></td>
      <td><%= message.email %></td>
      <td><%= message.text %></td>
      <td class="actions">
        <%= link_to('Show', message_path(message), :class => 'action show') %>
        <%= link_to('Delete', delete_message_path(message), :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
