<p>Точно удалить пост <%= @post.name%>?</p>
<%= form_for(@post, :method => 'delete') do |f| %>
    <%= image_tag(f.object.image_url.to_s)%>
    <h3>Фон:</h3>
    <%= image_tag(f.object.background_image_url.to_s)%>
    <h3>Текст:</h3>
    <p><%= f.object.text%></p>
    <%= f.submit("Да")%>
<% end %>
