
<div class="posts index">
    <h1>Посты</h1>
    <%= link_to('Новый пост', new_post_path) %>
    <% @posts.each do |post| %>
	<div class="post block">
	    <h2><%=link_to(post.name, post_path(post))%></h2>
	    <p><%= link_to('Edit', edit_post_path(post))%></p>
	    <div class="post image">
		<%= image_tag(post.image_url.to_s) %>
	    </div>
	    <p><%=post.text%></p>
	</div>
    <% end %>
</div>
