<!DOCTYPE html>
<html>
<head>
  <title>Elis Type</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


</head>

<body>
  <div id="body-content">
  <!--<%= image_tag('logo.png', :id => 'logo') %>-->
  <img src="/logo.png" id="logo" alt="Logo">
  <div class="container hat">
    <div class="row">
      <div class="navbar navbar-default center">
        <div class="navbar-header">
        </div>
        <ul class="nav navbar-nav">
          <li <%= active?(@active, :home) %> id="menu-element"><%= link_to('HOME', root_path)%></li>
          <li <%= active?(@active, :blog) %> id="menu-element"><%= link_to('BLOG', blog_path) %></li>
          <li <%= active?(@active, :shop) %> id="menu-element"><%= link_to('SHOP', shop_path) %></li>
          <li <%= active?(@active, :contacts) %> id="menu-element"><%= link_to('CONTACTS', contacts_path) %></li>
        </ul>
      </div>
    </div>
  </div>
  <%= yield %>
</div>
</body>

<footer>
  <hr>
  <div class="icons">
    <div class="ico youtube"></div>
    <div class="ico pinterest"></div>
    <div class="ico instagram"></div>
    <div class="ico vk"></div>
    <div class="ico behance"></div>
    <div class="ico facebook"></div>
  </div>
</footer>
</html>
